.elementor-100 .elementor-element.elementor-element-2c228d3 {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;}
.elementor-100 .elementor-element.elementor-element-2c228d3 > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-100 .elementor-element.elementor-element-a89cfbf {text-align: left;}
.elementor-100 .elementor-element.elementor-element-a89cfbf .elementor-image img {width: 57%;}
.elementor-100 .elementor-element.elementor-element-e92529b .elementor-spacer-inner {height: 5em;}
.elementor-100 .elementor-element.elementor-element-191b58b .elementor-image-carousel-wrapper .elementor-image-carousel .swiper-slide-image {border-radius: 0% 0% 0% 0%;}
.elementor-100 .elementor-element.elementor-element-191b58b > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-100 .elementor-element.elementor-element-19c9a6c {text-align: center;}
.elementor-100 .elementor-element.elementor-element-19c9a6c .elementor-heading-title {color: #fff;font-size: 5.5em;}
@media (min-width:768px) {.elementor-100 .elementor-element.elementor-element-5b0490d {width: 17.807%;}
	.elementor-100 .elementor-element.elementor-element-458c9dc {width: 82.193%;}}
@media (max-width:1024px) {.elementor-100 .elementor-element.elementor-element-a89cfbf .elementor-image img {width: 50%;}
	.elementor-100 .elementor-element.elementor-element-19c9a6c .elementor-heading-title {font-size: 3em;}}
@media (max-width:767px) {.elementor-100 .elementor-element.elementor-element-a89cfbf .elementor-image img {width: 100%;}}