.elementor-168 .elementor-element.elementor-element-cb55675 {text-align: center;}
.elementor-168 .elementor-element.elementor-element-cb55675 .elementor-heading-title {color: #fff;font-size: 7em;}
.elementor-168 .elementor-element.elementor-element-398f55d {text-align: center;}
.elementor-168 .elementor-element.elementor-element-398f55d .elementor-heading-title {color: #fff;}
.elementor-168 .elementor-element.elementor-element-10c94a7 {--divider-border-style: solid;--divider-border-color: #fff;--divider-border-width: 1px;}
.elementor-168 .elementor-element.elementor-element-10c94a7 .elementor-divider-separator {width: 100%;}
.elementor-168 .elementor-element.elementor-element-10c94a7 .elementor-divider {padding-top: 25px;padding-bottom: 25px;}
.elementor-168 .elementor-element.elementor-element-509ea84 {text-align: center;}
.elementor-168 .elementor-element.elementor-element-509ea84 .elementor-image img {border-radius: 10px 10px 10px 10px;}
.elementor-168 .elementor-element.elementor-element-aa79c2a {text-align: center;}
.elementor-168 .elementor-element.elementor-element-aa79c2a .elementor-heading-title {color: #fff;}
.elementor-168 .elementor-element.elementor-element-ea7d31a .elementor-image img {width: 18%;border-radius: 50% 50% 50% 50%;}
.elementor-168 .elementor-element.elementor-element-bf1f670 .elementor-image img {border-radius: 10px 10px 10px 10px;}
.elementor-168 .elementor-element.elementor-element-bf1f670 > .elementor-widget-container {margin: 4em 0em 5em 0em;}
.elementor-168 .elementor-element.elementor-element-05fb943 {text-align: center;}
.elementor-168 .elementor-element.elementor-element-05fb943 .elementor-heading-title {color: #fff;}
.elementor-168 .elementor-element.elementor-element-9b3a6bc .elementor-image img {width: 18%;border-radius: 50% 50% 50% 50%;}
.elementor-168 .elementor-element.elementor-element-8d75b3d .elementor-spacer-inner {height: 20em;}
.elementor-168 .elementor-element.elementor-element-f034f4d {text-align: center;}
.elementor-168 .elementor-element.elementor-element-f034f4d .elementor-heading-title {color: #fff;}
@media (max-width:1024px) {.elementor-168 .elementor-element.elementor-element-cb55675 .elementor-heading-title {font-size: 3em;}}